

#courseDropped{
    height: 700px;
    width: 700px;
}

.courseDropped{
    
    cursor: grab;

    
}

.courseDropped:active{
    cursor: grabbing;
}



#hamburgerImg{
    margin: 0 100px 0 140px;
    text-decoration: none;
     position: relative;
   cursor: pointer;
}

.hamburgerMenu{
    width: auto;
    cursor: pointer;
    margin: 4px 50px 0 0;
    transform: scale(60%);
    
}

.removeDiv{
    margin: 0 0 0 100;
    float: left;
}


.courseDropped .subBox{
    list-style-type: none;
    transition: ease-in-out 2000ms;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 6px 0 0;
    
}


.courseDropped .subBox li{
    padding: 10px;
    list-style-type: none;
    margin: 0 auto;
   font-weight: 600;
   font-weight: bold;

    
    
}

.courseDropped{
    cursor: grab;
}

.courseDropped .course:active{
    cursor: grabbing;
}


.courseDroppedHeader{
    background: #FED766;
    display: flex;
    width: auto;
    height: 60px;
    padding: 2px 10px;
    gap: 140px;
}

.courseDropped .subDetails{
    padding: 0 10px;
}

.subDetails{
    input[type=text]{
        padding: 0.25em;
        margin-left: 1.25em;
        border: none;
        background-color: rgb(255, 239, 215);
    }
    input[type=text]:focus{
        outline: none;
        background-color: white;
    }
}