.course{
    cursor: grab;
    display: flex;
    width: 200px;
}

.course:active{
    cursor: grabbing;
}



#hamburgerImg{
    margin: 0 100px 0 0;
    text-decoration: none;
    height: 1000px;
    margin: 0 0 0 140px;
   position: relative;
}

.hamburgerMenu{
    width: auto;
    cursor: pointer;
   
    
}

.courseOptions{
    background-color: rgb(229, 223, 223);
    padding: 10px 20px;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100px;
    width: 100px;
   padding: 20px 20px;

}

.courseOptions:hover {
    background-color: rgb(229, 223, 223);
    opacity: 1000;
    top: 40px;
    

}


.subBox{
    list-style-type: none;
    transition: ease-in-out 2000ms;
    
}

.subBox li:hover{
    list-style-type: none;
    background-color: gray;
    
}

.courseOptions{
    margin: 0 0 0 0;
}


.course{
    cursor: grab;
}

.course:active{
    cursor: grabbing;
}


.courseHeader{
    background: #FED766;
    display: flex;
    width: 220px;
    padding: 0 5px 20px 5px;
    height: 30px;
}

.courseHeader .subDetails{
    margin: 18px 10%;
}

.content{
    margin: 10px 5px;
}
