.title{
    color: #1577BD;
}

.topData{
    display: flex;
    justify-content: space-between;
}

.share{
    font-size: 24px;
    margin-right: 10%;
}

.trimestersDetails{
   border: 4px solid rgb(0, 0, 0);
   display: flex; 
   flex-direction: column;
   overflow: auto;
   overflow-x: scroll;
   overflow-y: scroll;
   height: 90vh;
   width: 80vw;
   
}

.trimesterLibrary{
    background-color: #D0E1F9;
    width: 500px;
    overflow: auto;
    overflow-x: scroll;
    height: 90vh;
    
}

.planYourPathPage{
    display: flex;
}

.card{
    background: black;
}

.shareImg{
    height: 40px;
}


/*This is how I desinged the scrollbar*/
.trimestersDetails::-webkit-scrollbar{
    width: 15px;
}

.trimestersDetails::-webkit-scrollbar-track{
    background: #d1e5ff;
}


.trimestersDetails::-webkit-scrollbar-thumb{
    background: linear-gradient(#ffa72b, #e4cb66);
    border-radius: 10px;
}


.trimesterLibrary::-webkit-scrollbar{
    width: 15px;
}

.trimesterLibrary::-webkit-scrollbar-track{
    background: #d1e5ff;
}


.trimesterLibrary::-webkit-scrollbar-thumb{
    background: linear-gradient(#2b39ff, #2273ff);
    border-radius: 10px;
}


.hamburgerMenu{
    height: 10px;
}