.trimesterBox{
    margin: 24px 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFEFD7;
    
    .searchBox {
        position: absolute;
        height: 200px;
        overflow-y: scroll;
        top: 140px;
        z-index: 1;
        background-color: #FED766;
        margin: 0 0 0 0;
        color: black;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 0.5em;

      .searchInput{
        padding: 0.4em;
        margin: 1em;
        z-index: 99;
        border: none;
        border-radius: 50px;
        outline: none;
        :focus{
          border: none;
          outline:none;
        }
      }
      .search-courses{
        display: flex;
        flex-direction: column;
        margin: 5% 10px;
        cursor: pointer;

        .courseName{
          width: auto;
          padding: 10px 0;
        }
      }
    }
}

.searchInput::placeholder {
  text-align: center;
}

.courseBox{
    background: #FED766;
    display: flex;
    width: 100px;
    padding: 0 10px;

    div{
        margin: 18px 10%;
    }
}

.searchBox{
    
    z-index: 99;
    width: 200px;
}



.courseName:hover{
    background-color: #f6e855;
}




// Search button animation 

.addCoursebtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 1.5px rgba(0, 0, 0, 0.4);
  background: #f6d877;
  transition: width 225ms, transform 750ms;
}
  
/* plus sign */
.sign {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(13px);
}

.sign .searchBtn {
  width: 24px;
  float: left;
}

.sign .searchBtn{
  fill: white;
}
/* hover effect on button width */
.addCoursebtn:hover {
  width: 130px;
  border-radius: 40px;
  background: #f6d877;
  transform: scale(1.05);
}

.addCoursebtn:hover .sign {
  width: 30%;
  margin: 0 100px 0 0;
}
/* text */
.text {
  position: relative;
  right: 65%;
  width: 2000px;
  opacity: 0;
  color: rgb(141, 141, 141);
  font-size: 1.2em;
  font-weight: 600;
  transition: opacity 225ms ease-out;
  transition-delay: 100ms;
  visibility: hidden;
}
/* hover effect button's text */
.addCoursebtn:hover .text {
  opacity: 1;
  width: 100%;
  visibility: visible;
  padding-right: 5%;
}
/* button click effect*/
.addCoursebtn:active {
  transform: translate(2px, 0);
}
