.trimesterBox{
    margin: 40px 0;
    border: 1px solid black;
   
}
.courseBox{
    background: #FED766;
    display: flex;
    width: auto;
    padding: 0 10px;

    div{
        margin: 18px 10%;
    }
}

