.trimesterBox{
    margin: 40px 40px;
  
}
.courseBox{
    background: #FED766;
    display: flex;
    width: 100px;
    padding: 0 10px;

    div{
        margin: 18px 10%;
    }
}



.addCoursebtn{
    z-index: 0;
    background-color: rgb(95, 168, 228);
    width: 100px;
    transition: ease 500ms;
}

.addCoursebtn:hover{
    background-color: rgb(45, 76, 163);
}


.courseName{
    width: auto;
    height: 30px;
    width: auto;
    padding: 10px 0;

    
}

.searchBox{
    z-index: 99;
    width: 200px;
}



.courseName:hover{
    background-color: #f6e855;
}

.searchInput{
    z-index: 99;
    width: 200px;

}