// AdminManageCourse.module.scss
.manageCourse {
    padding: 20px;
    font-family: 'Roboto', sans-serif;

    .tableContainer {
        position: relative;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #ddd;
        }

        .actionButtons {
            display: flex;
        }

        img {
            width: 20px;
            height: 20px;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }

    .addCourseContainer {
        display: flex;
        justify-content: flex-end;
        margin-top: -10px; 
        margin-bottom: -10px;

        .addCourse {
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .actions {
        margin-top: 90px;
        display: flex;
        justify-content: center;
        gap: 20px;

        button {
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;

            &.cancel {
                width: 150px;
                background-color: white;
                color: #008CBA;  
                border: 1px solid #008CBA;
            }

            &.save {
                width: 150px;
                background-color: #008CBA;
                color: white;
                border: none;
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
