* {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    height: 50%;
    width: 0.75em;
    background-color: #424242;
    border-radius: 1em;
}
::-webkit-scrollbar-thumb {
    height: 50%;
    background: #686868;
    border-radius: 1em;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}