/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.edit-program {
    background-color: #fff;
    padding: 2rem;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

/* Flex container for side-by-side layout */
.sections {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.left-section, .right-section {
    flex: 1;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    font-size: 1rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"], select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: none;
}

/* Custom Dropdown Styling */
.custom-dropdown {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    -webkit-appearance: none; /* Remove default arrow in Webkit */
    -moz-appearance: none; /* Remove default arrow in Firefox */
    appearance: none; /* Remove default arrow in other browsers */
    background-image: url('../../../assets/dropdownArrow.png'); /* Custom arrow image */
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.dropdown-container {
    position: relative;
}

.dropdown-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2rem;
    color: #999;
}

/* Courses Grid */
.courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.course, .add-course {
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.course img {
    cursor: pointer;
}

.add-course {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #e0e0e0;
    color: #333;
}

.course.hovered .edit-icon, .course.hovered .delete-icon {
    visibility: visible;
}

.edit-icon, .delete-icon {
    position: absolute;
    width: 15px;
    visibility: hidden;
}

.edit-icon {
    left: 10px;
}

.delete-icon {
    right: 10px;
}

.plus-icon {
    font-size: 1.5rem;
    font-weight: bold;
}


/* Bottom Buttons */
.bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-right: 3rem;
}

.cancel-button {
    margin-left: 50px;
    width: 100px;
    background-color: #e0e0e0;
    color: #333;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #d0d0d0;
}

.right-buttons {
    display: flex;
    gap: 1rem;
}

.preview-button,
.save-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.preview-button {
    background-color: #2B3047;
    color: #fff;
}

.preview-button:hover {
    background-color: #23272b;
}

.save-button {
    background-color: #1577BD;
    color: #fff;
}

.save-button:hover {
    background-color: #1577BD;
}


/* Success Message */
.success-message {
    text-align: center;
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 1rem;
}

.modal-cancel, .modal-save {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.modal-cancel {
    background-color: #e0e0e0;
    color: #333;
}

.modal-save {
    background-color: #007bff;
    color: #fff;
}

/* Centered Input for Modal */
.centered-input {
    text-align: center;
}
