.profile-dropdown {
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #00508B;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .dropdown-options a {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
  }
  