.login {
    background-color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-family: Roboto;
    margin-top: 5em;

    .card {
        width: 100%;
        display: flex;
        background-color: white;
        // min-height: 600px;
        // min-width: 800px;
        overflow: hidden;

        .right {
            flex: 1;
            max-width: 100%;
            max-height: 1000px;

            img {
                width: 100%;
                height: 100%;
                clip-path: polygon(45% 0, 100% 0, 100% 100%, 0% 100%);
            }
        }

        .left {
            // flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: start;
            position: relative;
            padding: 8em;
            h1 {
                font-size: 3em;
                font-weight: 400;
                margin: 0px;
            }

            .title-1 {
                top: 0.5em;
                position: absolute;
                color: black;
            }

            .title-2 {
                top: 2em;
                position: absolute;
                color: #00508B;
                text-wrap: nowrap;
                overflow: visible;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1em;
                background-color: #F9FCFF;
                box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.75);
                border-radius: 1em;
                padding: 1em;
                margin-top: 3em;

                .subtitle-1 {
                    font-weight: bold;
                    font-size: large;
                }

                p {
                    text-align: center;
                    margin: 0px;
                }

                .input-field-main {
                    display: flex;
                    flex-direction: row;
                    padding: 0.65em 1.25em;
                    align-items: center;
                    // justify-content: center;
                    gap: 1.25em;
                    background-color: #ECECEC;
                    border-radius: 0.25em;

                    div,
                    p,
                    input {
                        display: inline-block;
                    }

                    .input-field-1 {
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: start;

                        p {
                            font-size: 1em;
                            color: #A5A5A5;
                        }

                        input {
                            font-size: 1.25em;
                            font-weight: bold;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }

                .remember-me {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    input,
                    p {
                        display: inline;
                        color: #1577BD;
                        font-size: 0.75em;
                    }
                }

                button {
                    padding: 1em;
                    font-size: 1em;
                    font-weight: bold;
                    border: none;
                    border-radius: 1em;
                    color: white;
                    background-color: #00508B;
                }

                textarea:focus,
                input:focus {
                    outline: none;
                }

                .login-register{
                    padding: 1em;
                    font-size: 1em;
                    font-weight: bold;
                    border: 1px solid black;
                    border-radius: 1em;
                    color: black;
                    background-color: white;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }

    }
}